.header{color: maroon;
position: relative;
}

.name{ color: #008000;
position: relative;
}
h3{ 
    background-color: bisque;
    position: relative;
    
}
P{
    background-color: aquamarine;
    position: relative;
    border:3px solid black;
    
}